<%- include('_header') %>
<h1>Login</h1>
<form method="post" action="/login">
  <label for="username">Username</label
  ><input type="text" name="username" id="username" />
  <label for="password">Username</label
  ><input type="password" name="password" id="username" />
</form>
<%- include('_footer') %>
