<%- include('_header') %>
<h1 id="profile-page-title">Profile</h1>
<a id="return-home-link" href="/">Return Home</a>
<nav id="nav-menu">
  <ul>
    <li attr-myprofilemode="posts">Posts</li>
    <li attr-myprofilemode="settings">Settings</li>
  </ul>
</nav>
<section
  id="post-creator-section"
  style="visibility: hidden; position: absolute"
>
  <form id="post-creator">
    <h3>Create Post</h3>
    <textarea
      id="post-creator-content"
      name="post-creator-content"
      cols="30"
      rows="10"
    ></textarea>
    <label for="post-creator-image-attach">
      Attach image (optional):
      <input
        type="file"
        id="post-creator-image-attach"
        name="post-creator-image-attach"
      />
    </label>
    <input type="submit" value="Create Post" />
  </form>
</section>

<section id="post-list-section">
  <div id="post-list-container">
    <h2 id="post-listing-title">Your Posts</h2>
    <div id="post-list-actual"></div>
  </div>
</section>

<script src="/public/scripts/profile.bundle.js"></script>
<%- include('_footer') %>
