@import "./base";

$stdSpacing: 20px;
$by2: $stdSpacing / 2;
$by4: $stdSpacing / 4;
$by8: $stdSpacing / 8;
$dimShade: #888;
$bgShade: aliceblue;
$stdBorder: 1px solid $dimShade;
$dark: #111;
$light: #eee;

#profile-page-title {
  padding: $stdSpacing;
}

#return-home-link {
  margin-left: $stdSpacing;
}

#profile-page-title,
#nav-menu {
  padding: $by4 $stdSpacing;

  ul {
    margin: 0;
    padding: 0;
    /* margin-left: 20px; */
    display: flex;
    list-style-type: none;
  }

  li {
    padding: $by4 $by2;
    border: $stdBorder;
    cursor: pointer;
  }

  li + li {
    border-left: none;
  }
}

#post-creator-section {
  padding: $stdSpacing;
}

#post-creator {
  padding: $by4 $by2;
  display: flex;
  flex-direction: column;
  margin-bottom: $by2;
  background-color: $bgShade;
  border: $stdBorder;
  padding: $stdSpacing;

  h3 {
    margin: 0 0 $by2 0;
  }

  textarea {
    border-radius: 0;
    border: $stdBorder;
    resize: none;
    margin-bottom: $stdSpacing;
  }

  [type="submit"] {
    display: block;
    margin-top: $stdSpacing;
    width: max-content;
    padding: $by2 $stdSpacing;
    color: $light;
    background-color: rgb(37, 98, 169);
    border-radius: 0;
    border: $stdBorder;
    cursor: pointer;
  }
}

#post-list-section {
  display: flex;
  padding: $stdSpacing;
}

#post-listing-title {
  margin: $by2 0 $by2 0;
}

#post-list-container {
  margin-left: auto;
  max-width: 33%;
  background-color: $bgShade;
  padding: $by2 $stdSpacing;
  border: $stdBorder;
}

#post-list-actual img {
  max-width: 100%;
  border-radius: $by8 $by8 0 0;
  margin-bottom: $by4;
}

[attr-postid] {
  & + & {
    margin-top: $stdSpacing;
  }

  & > div {
    font-size: $stdSpacing;
  }
}

.comment-section {
  margin-top: $by4;
}

.post-comment-form {
  textarea {
    display: block;
    resize: none;
    width: 100%;
  }

  [type="submit"] {
    margin: $by2 0;
    display: block;
    margin-left: auto;
    padding: $by2 $stdSpacing;
    color: $light;
    background-color: rgb(37, 98, 169);
    border-radius: 0;
    border: $stdBorder;
    cursor: pointer;
  }
}

.post-comment-list {
  border: $stdBorder;
  border-radius: 1px;

  .title {
    margin: 0;
    background-color: $dark;
    color: $light;
  }

  .content,
  .title {
    padding: $by2;
  }
}
