@import "./base";

$stdSpacing: 20px;
$multi2: calc($stdSpacing * 2);
$by2: calc($stdSpacing / 2);
$by4: calc($stdSpacing / 4);
$by8: calc($stdSpacing / 8);
$dimShade: #888;
$bgShade: aliceblue;
$stdBorder: 1px solid $dimShade;
$dark: #111;
$light: #eee;
$coolSubmitBg: rgb(37, 98, 169);
$coolCancelBg: rgb(230, 29, 62);
$lightDark: rgba(#111, 0.125);
$lightBorder: 1px solid $lightDark;

@mixin cool-button {
  display: block;
  margin-top: $stdSpacing;
  width: max-content;
  padding: $by2 $stdSpacing;
  border-radius: 0;
  border: $stdBorder;
  cursor: pointer;
}

@mixin cool-submit-button {
  @include cool-button();
  color: $light;
  background-color: rgb(37, 98, 169);
}

@mixin cool-cancel-button {
  @include cool-button();
  color: $light;
  background-color: rgb(230, 29, 62);
}

#profile-page-title {
  padding: $stdSpacing;
}

#return-home-link {
  margin-left: $stdSpacing;
}

#profile-page-title,
#nav-menu {
  padding: $by4 $stdSpacing;

  ul {
    margin: 0;
    padding: 0;
    /* margin-left: 20px; */
    display: flex;
    list-style-type: none;
  }

  li {
    padding: $by4 $by2;
    border: $stdBorder;
    cursor: pointer;
  }

  li + li {
    border-left: none;
  }
}

#post-creator-section {
  padding: $stdSpacing;
}

#post-creator {
  padding: $by4 $by2;
  display: flex;
  flex-direction: column;
  margin-bottom: $by2;
  background-color: $bgShade;
  border: $stdBorder;
  padding: $stdSpacing;

  h3 {
    margin: 0 0 $by2 0;
  }

  textarea {
    border-radius: 0;
    border: $stdBorder;
    resize: none;
    margin-bottom: $stdSpacing;
  }

  [type="submit"] {
    @include cool-submit-button();
  }
}

#post-list-section {
  display: flex;
  padding: $stdSpacing;
}

#post-listing-title {
  margin: $by2 0 $by2 0;
}

#post-list-container {
  margin-left: auto;
  max-width: 33%;
  background-color: $bgShade;
  padding: $by2 $stdSpacing;
  border: $stdBorder;
}

#post-list-actual img {
  max-width: 100%;
  // border-radius: $by8 $by8 0 0;
  margin-bottom: $by4;
}

[attr-postid] {
  & + & {
    margin-top: $stdSpacing;
  }

  & > div {
    font-size: $stdSpacing;
  }
}

.post-control {
  background-color: aquamarine;
  display: flex;
  padding: 0.25rem 0;
  border: 1px solid rgb(86, 119, 109);
  border-bottom: none;
}

.edit-button {
  margin-left: auto;
  margin-right: 0.25rem;
  color: white;
  background-color: #111;
  background-size: cover;
  border-radius: 25%;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.edit--image-section {
  background-color: aquamarine;
  border: 1px solid rgb(86, 119, 109);
  border-bottom: none;
  padding: 0.5rem;
  display: flex;

  label {
    font-size: 14px;
  }
}

.edit--post-content {
  resize: none;
  width: 100%;
  min-height: 100px;
}

.edit--submit-section {
  display: flex;
  button {
    @include cool-button();
    color: $light;
  }
  .submit-btn {
    background-color: rgb(37, 98, 169);
    margin-left: $by8;
  }
  .cancel-btn {
    background-color: rgb(230, 29, 62);
    margin-left: auto;
  }
}

.post-item[attr-editing="true"] .comment-section {
  display: none;
}

.comment-section {
  margin-top: $by4;
}

.post-comment-form {
  textarea {
    display: block;
    resize: none;
    width: 100%;
  }

  [type="submit"] {
    margin: $by2 0;
    display: block;
    margin-left: auto;
    padding: $by2 $stdSpacing;
    color: $light;
    background-color: rgb(37, 98, 169);
    border-radius: 0;
    border: $stdBorder;
    cursor: pointer;
  }
}

.post-comment-list {
  border: $stdBorder;
  border-radius: 1px;

  .head {
    margin: 0;
    background-color: $dark;
    color: $light;
    display: flex;
    align-items: center;
  }
  .title {
    margin: 0;
  }
  .util-section,
  .edit-control-section {
    margin-left: auto;
  }
  .content,
  .head {
    padding: $by2;
  }
  .edit-content {
    resize: none;
    width: 100%;
    border: none;
  }
}

.edit-control-section {
  display: flex;
}
.edit-control-section button {
  @include cool-button();
  color: $light;
  margin-top: auto;
  margin-bottom: auto;
}

.edit-control-section button:first-of-type {
  margin-left: auto;
  background-color: $coolCancelBg;
}
.edit-control-section button:nth-of-type(2) {
  background-color: $coolSubmitBg;
  margin-left: $by2;
}

.post-comment-list .util-section button {
  background: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal {
  position: relative;
  background-color: rgb(250, 250, 250);
  border: 2.5px solid black;

  & > section {
    padding: $by2 $stdSpacing;
  }

  & > section:not(:last-of-type) {
    border-bottom: $lightBorder;
  }

  .body {
    padding: $multi2 $stdSpacing;
  }

  .footer {
    display: flex;
  }

  .footer button {
    @include cool-button();
    color: $light;
    margin-top: auto;
    margin-bottom: auto;
  }

  .footer button:first-of-type {
    margin-left: auto;
    background-color: $coolSubmitBg;
  }
  .footer button:nth-of-type(2) {
    background-color: $coolCancelBg;
    margin-left: $by2;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
