@import "./base";

$stdSpacing: 20px;
$by2: $stdSpacing / 2;
$by4: $stdSpacing / 4;

#profile-page-title {
  padding: $stdSpacing;
}

#return-home-link {
  margin-left: $stdSpacing;
}

#profile-page-title,
#nav-menu {
  padding: 5px $stdSpacing;

  ul {
    margin: 0;
    padding: 0;
    /* margin-left: 20px; */
    display: flex;
    list-style-type: none;
  }

  li {
    padding: $by4 $by2;
    border: 1px solid #888;
    cursor: pointer;
  }

  li + li {
    border-left: none;
  }
}

#post-creator-section {
  padding: $stdSpacing;
}

#post-creator {
  padding: $by4 $by2;
  display: flex;
  flex-direction: column;
  margin-bottom: $by2;
  background-color: aliceblue;
  border: 1px solid #aaa;
  padding: 25px;

  h3 {
    margin: 0 0 $by2 0;
  }

  textarea {
    border-radius: 0;
    border: 1px solid #888;
    resize: none;
    margin-bottom: $stdSpacing;
  }

  [type="submit"] {
    display: block;
    margin-top: $stdSpacing;
    width: max-content;
    padding: $by2 $stdSpacing;
    color: #eee;
    background-color: rgb(37, 98, 169);
    border-radius: 0;
    border: 1px solid #eee;
    cursor: pointer;
  }
}

#post-list-section {
  display: flex;
  padding: $stdSpacing;
}

#post-listing-title {
  margin: $by2 0 $by2 0;
}

#post-list-container {
  margin-left: auto;
  max-width: 33%;
  background-color: aliceblue;
  padding: $by2 $stdSpacing;
  border: 1px solid #aaa;
}

#post-list-actual img {
  max-width: 100%;
  border-radius: 2.5px 2.5px 0 0;
  margin-bottom: $by4;
}

[attr-postid] {
  & + & {
    margin-top: $stdSpacing;
  }

  & > div {
    font-size: $stdSpacing;
  }
}

.comment-section {
  margin-top: $by4;
}

.post-comment-form {
  textarea {
    display: block;
    resize: none;
    width: 100%;
  }

  [type="submit"] {
    margin: $by2 0;
    display: block;
    margin-left: auto;
    padding: $by2 $stdSpacing;
    color: #eee;
    background-color: rgb(37, 98, 169);
    border-radius: 0;
    border: 1px solid #eee;
    cursor: pointer;
  }
}

.post-comment-list {
  border: 1px solid #888;
  border-radius: 1px;

  .title {
    margin: 0;
    background-color: #111;
    color: #eee;
  }

  .content,
  .title {
    padding: $by2;
  }
}
